*{
    margin: 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;

}

h1{
    text-decoration: none;
    color: rgb(230, 173, 39);
    background-color: rgba(14, 32, 55, 0.7);
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align:center;
    padding: 20px 40px;
    margin: 40px 0px;
    min-width: 400px;
    max-height: 200px;
}
p{

    color: rgb(62, 87, 134);
    font-size: 20px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px 20px;
    margin: 40px 0px;
    min-width: 400px;
  
}